[Unit]
Description=Picker Rotary Encoder Service (img2img mode)
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=gregm
WorkingDirectory=/home/gregm/hardware_exercises
Environment=PYTHONPATH=/home/gregm/hardware_exercises
# ExecStart=/home/gregm/hardware_exercises/.venv/bin/python3 picker/run_picker.py --rotary --display-w 1448 --display-h 1072
ExecStart=/home/gregm/hardware_exercises/.venv/bin/python3 picker/run_picker.py --display-w 1448 --display-h 1072
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target